<%- include("partials/header.ejs")-%>

<h1><%= post_Title  %></h1>
<p><%= post_Content %></p>

<form  action="/delete" method="post">
    <button class="delete" name="postName" value=<%=post_Title%> type="submit"> <i class="fa-solid fa-trash"></i>Delete</button>
    
</form>



<%-include("partials/footer.ejs")-%>
